#map, .leaflet-container {
  height: 100%;
}

.leaflet-container .leaflet-control {
  background: #00000066;
  color: #aaa;
}

.leaflet-control-attribution a {
  color: #ccc;
}

.timestamp {
  bottom: 0;
  font-size: 9px;
  padding: 1px 5px;
  position: absolute;
}

.timestamp p {
  margin: 0;
}
